@import './spacer-helpers';
@import './variables';

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    background-color: var(--color-background);
    color: var(--color-text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
