.cameraContainer {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--color-black);
    color: var(--color-white);
}

.topControls {
    height: 64px;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .closeButton {
        display: flex;
        font-size: var(--font-size-xxl);
    }
}

.bottomControls {
    flex-grow: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;

    & > .mainButton {
        font-size: 64px;
    }

    & > .sideButton {
        padding: 24px 0;
        font-size: 24px;
    }

    & > * {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;
    }
}

.hint {
    background-color: var(--color-white);
    color: var(--color-dark-grey);
    font-size: var(--font-size-lg);
    font-weight: bold;
    border-radius: 8px;
}

.galleryButton,
.cameraAppButton {
    position: relative;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    & > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }
}

.cameraAppButton {
    font-size: 32px;
    display: flex;
    justify-content: center;
}
