$image-size: 128px;

.thumbnail {
    display: inline-block;
    & > img {
        width: $image-size;
        height: $image-size;

        border-radius: 8px;

        object-fit: cover;
        pointer-events: none;
    }

    &:not(:last-of-type) {
        margin-right: 4px;
    }
}
